@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(0, 0, 0);
    font-family: "PT Sans", serif;
}
ul li{
    list-style: none;
}
ul li::marker{
    background-color: white;
}
a{
    color: rgb(107, 116, 194);
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
ul{
    display: flex;
}
/* ------------- */
.navList a{
    margin-left: 30px;
}
.wrapper{
    margin-top: 40px;
}
/* ------------ */
.blockTasks{
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px 1em;
    background-color: rgb(107, 116, 194);
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.infoForBlock{
    margin-left: 20px;
}
.openBlock{
    max-width: 80%;
    background-color: rgb(107, 116, 194);
    margin: 10px auto;
    display: none;
    padding: 10px 1em;
}
.infoForBlock{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
/*------------*/
.checked{
    text-decoration: line-through;
    background-color: grey;
}

.open{
    display: block;
}